<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block head %}
            {% embed 'AppBundle::head.html.twig' %}{% endembed %}
        {% endblock %}

        <title>{{ head_title }}</title>

        {% block styles %}
            {% embed 'AppBundle::styles.html.twig' %}{% endembed %}
        {% endblock %}

        {% block scripts %}
            {% embed 'AppBundle::scripts.html.twig' %}{% endembed %}
        {% endblock %}
    </head>
    <body>
        {% block page_top %}
            {% embed 'AppBundle::page_top.html.twig' %}{% endembed %}
        {% endblock %}

        {% block page %}
            {% embed 'AppBundle::page.html.twig' %}{% endembed %}
        {% endblock %}

        {% block page_bottom %}
            {% embed 'AppBundle::page_bottom.html.twig' %}{% endembed %}
        {% endblock %}
    </body>
</html>
